<p>html works!</p>

<fieldset>
    <legend>Favorites</legend>
    <div>
        <input list="colorList" type="text" />
    <datalist id="colorList">
        <option value="red">
        <option value="blue">
        <option value="yellow">
        <option value="Violet">
        <option value="pink">
        </datalist>
    </div>
    <p>H<sub>2</sub>O</p>
    <p>X<sup>2</sup></p>
    <p><input type="color" /></p>
    <p><input type="time" /></p>
    <p><input type="date" /></p>
    <p><progress value="50" max="100"></progress></p>
    <source srcset="logo-large.png" media="{min-width: 900px}">
    <img src="logo.png" />
    <template id="html-template">
        this is a template
        <small>Hi</small>
    </template>
</fieldset>